<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">

    <ul class="navbar-links">
      <li class="navbar-dropdown">
        <a routerLink="#">Home</a>
      </li>
      <li class="navbar-dropdown">
        <a routerLink="Booking">Booking</a>
      </li>
      <li class="navbar-dropdown">
        <a routerLink="#">client</a>
      </li>
      <li class="navbar-dropdown">
        <a routerLink="#">Users</a>
      </li>
      <li class="navbar-dropdown">
        <a routerLink="#">Rooms</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0" style="margin-left: 504px;">
      <input class="form-control fa fa-search" placeholder="Search" aria-label="Search">

    </form>
    <a routerLink="#" class="btn  btn-sm btn-outline-success">
      <span class="glyphicon glyphicon-log-out">Log out</span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
