<div class="parent">
    <div class="main1">
        <div class="side-nav">
            <div id="mySidenav" class="sidenav">
                <ul class="=nav-list" style="list-style-type: none">
                    <li class="nav-list-item" *ngFor="let item of list">
                        <i class="{{item.icon}}"></i>
                        <span>
                            <a href="#">{{item.name}}</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="head">
            <div class="col-div-6 pt-5">
                <span style="font-size: 30px; cursor:pointer; color:white;" class="nav">
                </span>
                <span style="font-size: 30px; cursor:pointer; color:white;" class="nav2">
                    &#9776; Dashboard</span>
            </div>
            <div class="col-div-6" style="padding-left: 370px;">

                <!-- <div class="profile">
                    <img src="assets/user.png" class="pro-img">
                    <p>Manoj Adhikari <span> Admin</span></p>
                </div> -->
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>67<br /><span>Clients</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>88<br /><span>Clients</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>99<br /><span>Clients</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>
        <div class="col-div-3">
            <div class="box">
                <p>61<br /><span>Clients</span></p>
                <i class="fa fa-users box-icon"></i>
            </div>
        </div>

        <div class="clearfix"></div>
        <br /><br />
        <div class="col-div-8">
            <div class="box-8">
                <div class="content-box">
                    <p>Top Clients<span>View All</span></p>
                    <br />
                    <table>
                        <tr>
                            <th>Company Name</th>
                            <th>Contact No</th>
                            <th>Contact Person</th>
                        </tr>
                        <tr>
                            <th>Lorem, ipsum. </th>
                            <th>9900990099</th>
                            <th>Lorem, ipsum dolor.</th>
                        </tr>
                        <tr>
                            <th>Lorem, ipsum. </th>
                            <th>9900990099</th>
                            <th>Lorem, ipsum dolor.</th>
                        </tr>
                        <tr>
                            <th>Lorem, ipsum. </th>
                            <th>9900990099</th>
                            <th>Lorem, ipsum dolor.</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-div-4">
            <div class="box-4">
                <div class="content-box">
                    <p>Total Clients<span>View All</span></p>
                    <div class="circle-wrap">
                        <div class="circle">
                            <div class="mask full">
                                <div class="fill"></div>
                            </div>
                            <div class="mask half">
                                <div class="fill"></div>
                            </div>
                            <div class="inside-circle">70%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>







</div>